<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="solana-wallet" />
    </intent>
    <package android:name="app.phantom" />
    <package android:name="com.solflare.mobile" />
    <package android:name="app.backpack.mobile" />
  </queries>
  <application>
    <service
      android:name="xyz.getomen.wallets.OmenWorkService"
      android:exported="false"
      android:foregroundServiceType="dataSync" />
  </application>
</manifest>
